<!-- Geng Wei, Tu | 301337045 -->
<!-- contact list view -->
<main class="container mb-5">
  <div class="row fullbox">
    <div class="col-sm-12">
      <div class="contact-form">
        <div id="contact" class="box-shadow-full">
          <div class="offset-md-1 col-md-10">
            <h1><%= title %></h1>
            <%if(typeof displayName =='string'&&displayName){%>
            <a href="/contactList/add" class="btn btn-primary" role="button">
              <i class="fas fa-plus-circle"></i>Add a Book
            </a>
            <%}%>
            <br>

            <table class="table table-bordered table-striped table-hover">
                <!--Header Row-->
                <tr>
                  <%if(typeof displayName =='string'&&displayName){%>
                    <th class="text-center col-2">Name</th>
                    <th class="text-center col-2">Phone</th>
                    <th class="text-center col-1">Email Address</th>

                    <th class="text-center col-1"></th>
                    <th class="text-center col-1"></th>
                  <%}else{%>
                    <th class="text-center col-2">Name</th>
                    <th class="text-center col-2">Phone</th>
                    <th class="text-center col-1">Email Address</th>
                  <%}%>
                </tr>

                <%for(let i = 0; i < contactList.length; i++){%>

                  <tr>
                    <%if(typeof displayName =='string'&&displayName){%>
                    <td class="text-center col-2"><%=contactList[i].name%></td>
                    <td class="text-center col-2"><%=contactList[i].phone%></td>
                    <td class="text-center col-1"><%=contactList[i].email%></td>
                    <td class="text-center col-1"><a href="/contactList/edit/<%=contactList[i]._id%>" class="btn btn-primary"><i class="fas fa-pencil-alt"></i>Edit</a></td>
                    <td class="text-center col-1"><a href="/contactList/delete/<%=contactList[i]._id%>" class="btn btn-danger"><i class="fas fa-trash-alt"></i>Delete</a></td>
                    
                    <%}else{%>
                    <td class="text-center col-2"><%=contactList[i].name%></td>
                    <td class="text-center col-2"><%=contactList[i].phone%></td>
                    <td class="text-center col-1"><%=contactList[i].email%></td>
                    <%}%>  
                  </tr>

                <%}%>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<style>
  .fullbox {
    height: 100%;
  }
  .contact-form {
    margin-top: 4rem;
  }
  .box-shadow-full {
      display: flex;
      justify-content: center;
  }
</style>